html {
  font-size: var(--base-font-size);
  color: var(--text-color);
}

body {
  min-height: 100vh;
  font-family: 'Sky Text', sans-serif;
}

a {
  color: inherit;
}

img {
  display: block;
  width: 100%;
}