html {
    font-family: 'Sky Text', sans-serif;
    font-size: var(--base-font-size);
    color: var(--text-color);
}

body {
    min-height: 100vh;
    background: var(--gradient-radial)
}

a {
    color: var(--link-color);
    font-weight: bold;
    text-decoration-thickness: 2px;
    text-underline-offset: 1px;
}

img {
    display: block;
    width: 100%;
}