@font-face {
  font-family: 'Sky Text';
  src: url(/fonts/sky-reg.woff) format('woff');
  font-display: optional;
}

@font-face {
  font-family: 'Sky Text';
  src: url(/fonts/sky-med.woff) format('woff');
  font-weight: bold;
  font-display: optional
}
