@font-face {
  font-family: 'Sky Text';
  src: url(../../fonts/sky-reg.woff) format('woff');
}

@font-face {
  font-family: 'Sky Text';
  src: url(../../fonts/sky-med.woff) format('woff');
  font-weight: bold;
}