:root {
    --max-site-width: 1200px;
    --easing: cubic-bezier(0.165, 0.84, 0.44, 1);
    --border-radius: 5px;
    --drop-shadow: 0 2px 1px rgba(0, 0, 0, 0.025);
    --metric-good: hsl(118, 41%, 49%);
    --metric-average: hsl(31, 78%, 53%);
    --metric-bad: hsl(359, 80%, 50%);
    --link-color-dark: #2AA2E1;
}