.header {
    color: var(--text-color-invert);
    padding: var(--component-padding) 0;
    background: var(--shade-5);
    margin-bottom: var(--group-margin);
}

.header h1 {
    font-size: var(--display-1);
    line-height: 1;
    margin-bottom: var(--component-gap);
    font-weight: 500;
}