.layout-main {
  display: flex;
  --side-col-width: clamp(200px, 35%, 300px);
  position: relative;
  overflow: hidden;
}

.layout-main-body {
  width: calc(100% - var(--side-col-width));
}

.layout-main-side {
  width: var(--side-col-width);
  will-change: transform;
  border-left: 1px solid var(--border-color);
}

/* @media all and (max-width: 650px) {
  .layout-main-col--body {
    width: 100%;
  }

  .layout-main-col--side {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    transition: transform 0.33s;
    transform: translateX(100%);
    z-index: 3;
  }

  .layout-main--toggle .layout-main-col--side {
    transform: translateX(0);
  } 
} */

.pos-rel {
  position: relative;
}