.wrap {
    width: min(100%, var(--max-site-width));
    margin-left: auto;
    margin-right: auto;
}

.wrap-padding {
    padding-left: var(--component-padding);
    padding-right: var(--component-padding);
}

.flex,
.flex-col {
    display: flex;
}

.flex-col {
    flex-direction: column;
}