.box {
    display: flex;
    flex-direction: column;
}

.gap-s {
    gap: var(--space-s)
}

.gap-m {
    gap: var(--space-m);
}

.gap-l {
    gap: var(--space-l);
}

.gap-xl {
    gap: var(--space-xl);
}

.mar-s {
    margin-bottom: var(--space-s);
}

.mar-m {
    margin-bottom: var(--space-m);
}

.mar-l {
    margin-bottom: var(--space-l);
}

.mar-xl {
    margin-bottom: var(--space-xl);
}