.display-1[class] {
  font-size: var(--display-1);
  line-height: 1;
}

.display-2[class] {
  font-size: var(--display-2);
  line-height: 1.1;
}

.display-3[class] {
  font-size: var(--display-3);
  line-height: 1.1;
}

.display-4[class] {
  font-size: var(--display-4);
  line-height: 1.2;
}

.display-5[class] {
  font-size: var(--display-5);
  line-height: 1.2;
}

.display-6[class] {
  font-size: var(--display-6);
  line-height: 1.3;
}

.text-body[class] {
  font-size: var(--component-text);
}

.text-s[class] {
  font-size: 14px;
}

.text-xs[class] {
  font-size: 12px;
}