@font-face {
  font-family: 'Sky Text';
  src: url(./fonts/sky-reg.woff) format('woff');
  font-display: optional;
}

@font-face {
  font-family: 'Sky Text';
  src: url(./fonts/sky-med.woff) format('woff');
  font-weight: bold;
  font-display: optional
}
@import './css/base/global-vars.css';
@import './css/base/vars.css';
@import './css/base/reset.css';
@import './css/base/elements.css';

@import './css/utilities/layout.css';
@import './css/utilities/spacing.css';

@import './css/components/bars.css';
@import './css/components/ui-controls.css';